.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2em;
  background: #1c1c1c;
  color: #fff;
  min-height: 100vh;
  gap: 4em;
}

.poster {
  border: solid 2px rgba(246, 242, 83, 1);
  /* box-shadow: 3px 3px 1px rgba(246, 242, 83, 1); */
}

.backdrop {
  border: solid 2px rgba(246, 242, 83, 1);
}

.container img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 1em;
}

.infoSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5em;
}

.infoSection div {
  width: 100%;
}

.infoSection h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.infoSection p {
  line-height: 1.8;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1.2em;
  text-decoration: none;

  border: 1px solid rgba(246, 242, 83, 1);
  color: rgba(246, 242, 83, 1);
  background: #1c1c1c;
  border-radius: 3px;
  transition: background 0.6s ease-in-out;
  margin-top: 1em;
  margin-right: 1em;
}

.btn:hover {
  border: 1px solid rgba(246, 242, 83, 1);
  color: #1c1c1c;
  background: rgba(246, 242, 83, 0.8);
}

.extraInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10rem;
  font-size: 1.1em;
  margin-top: 30%;
}

.extraInfo div {
  margin-bottom: 0.5em;
  line-height: 2em;
}