.container {
  background: #1c1c1c;
  color: #fff;
}

.subContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4em;
  background: #1c1c1c;
  color: #fff;
  min-height: 100vh;
  padding: 2em;
}

.poster {
  border: solid 0.5px rgba(246, 242, 83, 0.9);
}

.backdrop {
  border: solid 0.5px rgba(246, 242, 83, 0.9);
}

.subContainer img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 0.5em;
}

.infoSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}

.infoSection div {
  width: 100%;
}

.title {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.infoSection p {
  line-height: 1.8;
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1.2em;
  text-decoration: none;

  border: 1px solid rgba(246, 242, 83, 1);
  color: rgba(246, 242, 83, 1);
  background: #1c1c1c;
  border-radius: 3px;
  transition: background 0.6s ease-in-out;
  margin-top: 1em;
  margin-right: 1em;
}

.btn:hover {
  border: 1px solid rgba(246, 242, 83, 1);
  color: #1c1c1c;
  background: rgba(246, 242, 83, 0.8);
}

.extraInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8rem;
  font-size: 1.4em;
  margin-top: 15%;
}

.extraInfo div {
  margin-bottom: 0.5em;
  line-height: 2em;
}

.userInteractions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.watchlist {
  display: flex;
  flex-direction: row;
  font-size: 1.4em;
  justify-content: center;
  align-items: center;
}

.watchlistBtn,
.moreInfoBtn {
  cursor: pointer;
  border: none;
}

.watchlistStar {
  cursor: pointer;
}

.rating {
  display: flex;
  justify-content: center;
  max-width: 9rem;
}

.watchlistStarFull {
  cursor: pointer;
  color: gold;
}

.watchlisttext {
  background: none;
  border: none;
  color: white;
  margin-right: 0.2em;
  cursor: pointer;
}

.thumbup,
.thumbdown {
  display: inline-block;
  cursor: pointer;
  max-width: 30px;
}

.tagline {
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.seasons h2 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 2rem;
}

.seasons {
  display: flex;
  flex-direction: column;
  margin: 0 5% 0 5%;
}

@media (max-width: 1400px) {

  .infoSection {
    align-items: flex-start;
  }

  .infoSection h1 {
    font-size: 2.8em;
  }

  .subContainer {
    gap: 2em;

  }

  .extraInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    font-size: 1.1em;
  }

  .btn {
    font-size: 1em;
  }

  .extraInfo div {
    margin-bottom: 0.5em;
    line-height: 2em;
  }

  .watchlist {
    font-size: 1.2em;
  }

  .seasons h2 {
    font-size: 2.5em;
  }
}

@media (max-width: 1000px) {


  .infoSection h1 {
    font-size: 2.3em;
  }

  .infoSection p {
    font-size: 1em;
  }

  .btn {
    font-size: 0.9em;
  }

  .extraInfo {
    font-size: 1em;
  }

  .watchlist {
    font-size: 1.1em;
  }

}

@media (max-width: 750px) {
  .subContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1.4fr 2fr;
  }

  .middleSection {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .infoSection {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .middleSection,
  .infoSection {
    display: flex;
    flex-direction: column;
  }

  .extraInfo {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .rightInfo {
    width: 100%;
    margin-bottom: 8rem;
    font-size: 1.1em;
  }

  .rightInfo {
    display: flex;
    justify-content: space-between;
  }

  .userInteractions {
    justify-content: space-between;
  }
}

@media (max-width: 555px) {
  .infoSection h1 {
    font-size: 1.3em;
  }

  .rightInfo {
    flex-direction: column;
    justify-content: center;
  }

  .userInteractions {
    margin-top: 1em;
  }

  .container p {
    font-size: 0.7em;
  }

  .watchlist {
    font-size: 0.8em;
  }

  .btn {
    font-size: 0.6em;
  }

  @media (max-width: 490px) {
    .subContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .infoSection {
      order: 1;
    }

    .infoSection h1 {
      font-size: 1.4em;
    }

    .userInteractions {
      margin-top: 1em;
    }

    .container p {
      font-size: 1em;
    }

    .watchlist {
      font-size: 1em;
    }

    .btn {
      font-size: 1em;
    }

    .middleSection {
      order: 2;
      width: 70%;
    }

    .extraInfo {
      order: 3;
    }

  }
}