.container {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../public/background_img.jpeg');
  background-size: cover;
  min-height: 100vh;
  color: white;
  text-align: center;
}

.link:hover {
  font-weight: 700;
  text-decoration: underline;
}

.skip {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1rem;
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
}

.skip:hover {
  text-decoration: underline;
}

.subContainer {
  padding: 20px;
  width: 80%;
  max-width: 960px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 3rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.desc {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #f0b400;
  color: #1f1f1f;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #e0a300;
}

@media (max-width: 768px) {

  .title,
  .subtitle {
    font-size: 2rem;
  }

  .desc {
    font-size: 1rem;
  }
}