.navbar {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  z-index: 100;
  color: rgb(0, 0, 0);
  top: 0;
  height: 5em;
  background: rgb(245, 245, 8);
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  flex-direction: row;
}

.userLinks {
  display: flex;
}

.navBarLink {
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  height: 3rem;
  min-width: 6rem;
  color: black;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.15rem;
  font-weight: 400;
}

.navBarLink:hover {
  text-decoration: underline;
}

.logo {
  height: auto;
  width: 15vw;
  border-right: 2px solid black;
}


/* span {
  font-weight: 500;
  margin-right: 40px;
  font-size: 1.2em;

  cursor: pointer;
} */

.navRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  width: 85vw;
}

.icon {
  margin: 0px 15px;
  cursor: pointer;
}

.profile {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
  align-self: center;
}

.options {
  display: none;
  background-color: var(--main-color);
  border-radius: 5px;
}

/* 
span {
  padding: 10px;
  cursor: pointer;
} */

.options:hover {
  display: flex;
  flex-direction: column;
  position: absolute;

}

.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.userName {
  text-align: right;
  cursor: default;
}

.logout {
  text-align: right;
  cursor: pointer;
}


.logout:hover {
  text-decoration: underline;
}

.navBarLinkActive {
  font-weight: bold;
}

.navBarLinkInactive {
  font-weight: normal;
}

@media (max-width: 850px) {

  .logo {
    width: 30vw;
  }

  .navRight {
    width: 70vw;
  }
}

@media (max-width: 850px) {

  .navBarLink {
    padding: 0;
    font-size: 1rem;
    min-width: 6rem;
    text-align: center;
  }
}

@media (max-width: 525px) {
  .navbar {
    height: 7rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .navRight {
    width: 100vw;
    justify-content: center;
  }

  .logo {
    margin-top: 1rem;
    width: 15rem;
    height: auto;
    border: 2px solid black;
  }


  .navBarLink {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.9rem;
    min-width: 5rem;
    margin-bottom: 0.8rem;
  }

  .logout {
    border-radius: 2px;
    font-size: 0.7rem;
  }
}