/* Sign Up */

.skip {
  align-self: flex-end;
}

.container {
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: flex;
  flex-direction: row;
  background: #1c1c1c;
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.subContainer {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skip:hover {
  text-decoration: underline;
}

.registrationForm form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 40vw;
}

.registrationForm form input {
  margin: 0;
  height: 3rem;
  margin-top: 0.2rem;
}

.header {
  height: 2rem;
}

@media (max-width: 1000px) {
  .container {
    font-size: 1em;
  }

  .subContainer {
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .registrationForm form {
    width: auto;
  }

}

@media (max-width: 550px) {

  .subContainer {
    height: 33rem;
    padding: 1em;
    margin-bottom: 0;
  }

}