.title {
  text-align: left;
}

.titleContainer {
  align-self: flex-start;
  justify-self: flex-start;
  margin-left: 5rem;
  margin-top: 1rem;
}

.container {
  width: 100%;
}

.title2 {
  font-weight: 400;
}

.infoTip {
  margin-top: 10rem;
}

@media (max-width: 850px) {
  .title {
    font-size: 35px;
  }

  .titleContainer {
    margin-left: 2rem;
  }

}

@media (max-width: 525px) {
  .title {
    font-size: 30px;
  }
}