@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(243 244 246);
}

h2 {
  font-size: 2rem;
}

h1 {
  font-size: 2.5rem;
}

label {
  display: block;
}

.text-input-field-container {
  > * {
    margin-bottom: 0.6rem;
  }
}

.text-input {
  border-radius: 0.4rem;
  padding: 0.7rem 0.5rem;
  background-color: rgb(243 244 246);
  width: 100%;
  border: none;
}

 .btn {
  color: black;
  padding: 0.4rem 1.6rem;
  border-radius: 1.2rem;
  cursor: pointer;
  font-size: 0.6rem;
  letter-spacing: 2px;
  border: 1px black solid; 
 }

 .btn:hover, .btn:focus, .btn:active {
  border: black 2px solid; 
  font-size: 1.05rem;
 }

.btn-lg {
  font-size: 1rem;
  padding: 0.9rem 2.3rem;
}

.btn-xl {
  padding: 1.2rem 2.5rem;
}

.cta-btn {
  font-weight: 600;
  font-size: 1.4rem;
}
